@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  background-image: url("page_bg.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: black;
}

.Tedimg{
  	margin-left: auto;
  	margin-right: auto;
  	width: 65%;
}

.upcoming{
	height:100%;
	background-color: black;
	opacity: 0.8;
}

.next_te{
   	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 42px;
	line-height: 1.5;
	text-align: center;
}

.next_te:hover{
	color: black;
}
.upcoming:hover{
	background-color: white;
	transition-duration: 1s;
	opacity: 1;
}

.partition1{
	height: 1vh;
	background-color: red;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}


.upcoming_data{
	font-size: 25px;
}

.upcoming_data:hover{
	color: black;
}

.reg_but{
	color: white;
	background-color: red;
	font-size: 20px;
	border-color: red;
	padding: 10px;
	border-radius: 10%;
	margin-bottom: 5vh;
}

.reg_but:hover{
	background-color: black;
	padding: 15px;
	border-color: black;
	transition-duration: 0.5s;
	color: red;

}

.box{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	display: block;
	color: black;
	width: 40%;
	height: 50px;
	font-size: 25px;
	color: red;
	cursor: pointer;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;	
	padding: 10px;*
	border-style: solid;
	border-color: black;
	opacity: 0.8;
}

.box:hover{
	width: 80%;
	transition-duration: 0.5s;
	background-color: red;
	color: white;
	border-style: solid;
	border-color: red;
	text-decoration: underline;
	text-decoration-color: black;
}

.content1{
	color: red;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	width: 30%;
	background-color: black;
	height: 100%;
	visibility: hidden;
	padding: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: red;
	opacity: 0.5;
}

.content1:hover{
	background-color: white;
	color: red;
	transition-duration: 0.5s;
	opacity: 1;
}

.org_team{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	display: block;
	color: black;
	width: 40%;
	text-align: center;
	height: 50px;
	font-size: 25px;
	color: red;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;	
	padding: 10px;	
	border-color: red;
	border-style: solid;
	text-decoration: underline;
	text-decoration-color: black;
}

.sub_org_team{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	display: block;
	color: black;
	width: 40%;
	text-align: center;
	height: 30px;
	font-size: 20px;
	color: red;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;	
	padding: 10px;	
	border-color: red;
	border-style: solid;
	text-decoration: underline;
	text-decoration-color: black;
}

.each_flip{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 25%
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid;
  border-color: transparent;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: red;
  color: white;
  transform: rotateY(180deg);
}

.name{
font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: white;
	font-size: 25px;
	line-height: 1.5;
	text-align: center;	
}

.footer{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	height: 200px;
	background-color: white;
	width: 100%;
	text-align:center;
	color: black;
	opacity: 0.8;
}

.footer:hover{
	background-color: black;
	color: red;
	transition-duration: 1s;
}
